
body{
    background-image: url("https://garden.spoonflower.com/c/11546067/p/f/m/Dfyc59sBW1jGvvB01l3jazfgwQhzVt0wM4s3lYeU1yKZicGKVApBJQM/Solid%20sky%20blue.jpg");
    background-size: cover;
 }

h1{
    color:rgb(18, 17, 17);
    display: flex; 
    align-items: center;
     margin-top: 50px;
    margin-left: 90px; 
}

.btn1{
      background-color: rgb(65, 160, 219);
      height: 50px;
      width: 150px;
      border: 2px solid rgb(16, 17, 17);
      color:rgb(9, 9, 9);
      padding: 20px;
      margin-left: 100px;
      margin-top: 20px;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    border: 2px solid rgb(12, 38, 61);
  }
  
  .topnav a {
    float: left;
    color: #fafafa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.hii{
    border:2px solid rgb(61, 61, 61);
    height:300px;
    width: 600px;
   margin-left: 250px;
   margin-top: 80px;
   padding: 50px;
   background-color: transparent;
   color:whitesmoke;
}