/* 
body{
  background-image: url("https://garden.spoonflower.com/c/11546067/p/f/m/Dfyc59sBW1jGvvB01l3jazfgwQhzVt0wM4s3lYeU1yKZicGKVApBJQM/Solid%20sky%20blue.jpg");
  background-size: cover;
} */
.search{
  height: 24px;
  width: 300px;
  overflow: hidden;
  display: block;
  text-align: center;
  margin-top: 5px;
  border-color:transparent;
  margin-left:80px;
}
.logosearch{
  height: 29px;
  width: 53px;
  display: block;
  text-align: center;
  margin-top: 5px;
  background-color: rgb(237, 232, 232);
  border-color:transparent;

}


.logosearch1{
  height: 30px;
  width: 55px;
  margin-top: 5px;
  margin-left: 330px;
  border-color:transparent;
  background-color: aliceblue;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(174, 219, 244);
  border-radius: 5px;
  margin-left: 7px;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(26, 25, 25);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #cfe8eb;
}











.scrsht{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 150px;
}

.btn{
  height: 10px;
  width: 100px;

}

.btn1{
 margin: 10px 0;  
 height:40px;
 width:150px;
 background-color: rgb(174, 219, 244);
 border-radius: 20px;
 position:static;
 top:300px;
 left:4px;
 margin-top: 10px;
 color: rgb(60, 61, 62);
 border-color: transparent;
 margin-left: 500px;

}
.btn2{
  margin: 10px 0;  
  height:40px;
  width:150px;
  background-color: rgb(174, 219, 244);
  border-radius: 20px;
  position:static;
  top:300px;
  left:4px;
  margin-top: 10px;
  color: rgb(60, 61, 62);
  border-color: transparent; 
 }
.wel{
  color:rgb(71, 70, 70);
  font-family: Arial;
  align-items: center;
  margin-left: 400px;

}

.sdit{
  height:40px;
  width: 50px;
  border-radius: 100px;
}

.showup{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(174, 219, 244);
  border-radius: 5px;
  margin-left: 200px;
  overflow: hidden;
}










