<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <script type="text/javascript" src="/javascript/backsheet.js"></script>
   
    <script type="text/javascript" src="/javascript/BorrowBook.js"></script>
   
 <link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
<h1 class="head1">login Account</h1>
<h2 class="head2">Account for student attendence</h2>
<div class="admin">
    <h1 style="color:rgb(61, 106, 230)">Login</h1>
    <from>
        <label  id="log" for="uname"></label>
        <b>Admin name</b>
        <div id="hii">
        <input id="username" class="users" style="background-color:rgb(205, 213, 222)" type="text" placeholder="Email id /admin name";>
        <div class="space"></div>
        <label for="uname"><b>Password</b></label>
        <input class="users" id="password"  style="background-color:rgb(204, 208, 214) ;" type="password" placeholder="Enter password";>
        <h5 style="color :rgb(70, 70, 192)">Forgot password</h5>
        <button class="btn"  onclick="login()">Login</button>
        </div>
    </from>
    <div id="message"></div>
    <div id="cookiess"></div>
</div>
</body>

</html>