<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" src="../static/javascript/BorrowBook.js"></script> -->
    <script type="text/javascript" src="/javascript/BorrowBook.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/homestyle.css">
    <title>Document</title>
</head>
<body>
    <div id="borrow_by">
        <p>please show all books that borrow by students</p>
    </div>
    <div id="borrow_by_me">
        <p>please show all books that borrow by Me</p>
    </div>

    <h1>this is a home page</h1>
    <button class="btn" onclick="getBooksAndList()">Get Books</button>
    <button id="lib" onclick="library()" >library</button>
    <button id="BB" onclick="BorrowBy()">Borrow_By</button>
    <button id="borrow_By_me" onclick="BBM()">Borrow_By_Me</button>
    <div id="booksList"></div>
    <div id="borrowby">
        <p>please change</p>
    </div>
    
</body>
</html>