
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/first1.css">
    <script type="text/javascript" src="/javascript/BorrowBook.js"></script>
    <title>Document</title>
</head>
<body>
    <ul>
        
        <li><img class="sdit" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmyfnSFgYLl1kusMbdXyooL3OYEoFIdzcgpsQDXsIRKGu_ieBsPiyaRE_PRtmel_9hRDE&amp;usqp=CAU" alt="sdit logo"></li> 
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#new">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
        <li><input type="text" class="search" placeholder="Search.." name="search"></li>
        <li><button type="submit" class="logosearch">search</button></li>
        <li><button type="submit" class="logosearch1">logout</button></li>
        <div class="profile"></div>
    </ul>
    

    <div class="wel">
      <div id="wel1">
         <h1>Welcome To Online Library</h1>
      </div>
    </div>

    <div class="scrsht" >
            <img  src="/images/lib_pic.png"alt="here is notebook" height="450px" width="890px" margin-top="20px">  
    </div>

    <div id="btn">
           <button onclick="library_page()" class="btn1">Go To Library</button>
    </div>


</body>
</html>










