<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=kl, initial-scale=1.0">
    <script type="text/javascript" src="/javascript/BorrowBook.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="booksList"></div>
    <div id="borrowby">
        <p>please change</p>
    </div>
    <div id="borrow_by">
        <p>please show all books that borrow by students</p>
    </div>
    <div id="borrow_by_me">
        <p>please show all books that borrow by Me</p>
    </div>
</body>
</html>