<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singup page</title>
    <script type="text/javascript" src="/javascript/backsheet.js"></script>
 <link rel="stylesheet" type="text/css" href="/css/signup.css">
<body>
<h1 class="head1">SignUp Page </h1>
<h2 class="head2">Account for student attendence</h2>
<div class="admin">
    <h1 style="color:rgb(61, 106, 230)">Sign Up</h1>
    <from>
        <label  id="log" for="uname"></label>
        <b>Username</b>
        <div id="hii">
        <input id="username" class="users" style="background-color:transparent" type="text" placeholder="Email id\username";>
        <div class="space"></div>
        <label for="uname"><b>Password</b></label>
        <input class="users" id="password"  style="background-color:transparent;" type="password" placeholder="Enter password";>
        <div class="space"></div>
        <label for="uname"><b>Confirm Password</b></label>
        <input class="users" id="Confirm_password"  style="background-color:transparent;" type="password" placeholder="Enter again password";>
       
        <button class="btn"  onclick="signup()">SignUp</button>
        </div>
    </from>
    <div id="message"></div>
    <div id="cookiess"></div>
</div>
</body>

</html>